{%extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <img class="account-img rounded-circle d-inline" src="{{url_for('static', filename = 'profile_pics/' + post.author.image_file)}}">
    <h2 class="border-bottom d-inline">{{post.title}}</h2>
    <div class="media d-block">
        <div class="media-body" style="white-space: pre-line;">{{post.content}}</div>
    </div>
    <div class="text-right mt-5">
        <small class="text-muted">
            created by {{post.author.username}} {# ({{post.author.email}}) #} on {{post.date_created|date_f}}
            {% if post.date_changed != post.date_created %}
            <br>changed on {{post.date_changed|date_f}}
            {% endif %}
        </small>
    </div>
    <div class="nav">
        <div>
            {# if the user_id was given when opening the post details page, we will add it to the go back reference, to keep the posts_list filtered by user id #}
            <a class="btn btn-outline-info" href="{{url_for('posts.posts_list', user_id = user_id) if user_id else url_for('posts.posts_list')}}">go back</a>
            {%if current_user == post.author %}
            <a class="btn btn-outline-info" href="{{url_for('posts.posts_change',post_id=post.id)}}">change</a>
            <a class="btn btn-outline-info" href="{{url_for('posts.posts_delete',post_id=post.id)}}">delete</a>
            {%endif%}
        </div>
    </div>
</div>
{% endblock content %}