{%extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <h2 class="border-bottom">Delete account for {{current_user.username}}</h2>
    <div class="mt-4 mb-4">Are you sure you want to delete your account ?</div>
    
    <form method="POST" action="{{url_for('users.account_delete')}}">
        <div class="nav">
            <div>
                <a class="btn btn-outline-info" href="{{url_for('users.account')}}">cancel</a>
                <input type="submit" class="btn btn-outline-danger" value="yes">
            </div>
        </div>
    </form>
</div>
{% endblock content %}