{%extends 'layout.html' %}
{% block content %}
    {% for post in posts %}
        <h5><a href="{{url_for('posts_detail',id=post.id)}}">{{post.title}}</a></h5>
        <p class="text-right border-bottom">
            <small class="text-muted">
                by {{post.author.username}} on {{post.date_created|date_f}}
                {%if post.date_changed != post.date_created %}<br>changed on {{post.date_changed|date_f}}{% endif %}
            </small></p>
    {% endfor %}
{% endblock content %}