{%extends 'layout.html' %}
{% block content %}
    <div class="mb-4">
        {{ pagination.links }}
    </div>
    {% for post in posts %}
    <div class="content-section">
        <!-- <div class="btn btn-sm btn-light">{{ loop.index + pagination.skip }}</div> -->
        <div class="media">
            <img class="rounded-circle account-img" src="{{url_for('static', filename = 'profile_pics/' + post.author.image_file)}}">
            <div class=" d-block w-100">
                <h5 class="border-bottom ">
                    <a href="{{url_for('posts.posts_detail', post_id=post.id, user_id = user.id) if user else url_for('posts.posts_detail', post_id=post.id)}}">{{post.title}}</a>
                </h5>
                <small class="float-right text-muted mt-5">
                        by <a href="{{url_for('posts.posts_list',user_id=post.author.id)}}">{{post.author.username}}</a> on {{post.date_created|date_f}}
                        {%if post.date_changed|date_f != post.date_created|date_f %}<br>changed on {{post.date_changed|date_f}}{% endif %}                    
                </small>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="mt-4">
        {{ pagination.info }}
        {% if user %} showing only posts by {{user.username}} 
            <button title="deactivate user filter" type="button" class="close btn-sm user-filter" aria-label="Close">
                <a aria-hidden="true" class="small" href="{{url_for('posts.posts_list')}}">&times;</span>
            </button>
        {% endif %}
    </div>
{% endblock content %}