{%extends 'layout.html' %}
{% block content %}
    <h1 class="border-bottom">{{post.title}}</h1>
    <p> {{post.content}} </p>
    <p class="text-right mt-4">
        <small class="text-muted">
            created by {{post.author.username}} {# ({{post.author.email}}) #}
            <br>
            created on {{post.date_created|date_f}}
            {% if post.date_changed != post.date_created %}
                <br>changed on {{post.date_changed|date_f}}
            {% endif %}
        </small>
    </p>
    <p>
        <a class="btn btn-outline-info" href="{{url_for('posts_list')}}">go back</a>
        {%if current_user.id == post.user_id %}
            <a class="btn btn-outline-info" href="{{url_for('posts_change',id=post.id)}}">change</a>
            <a class="btn btn-outline-info" href="{{url_for('posts_delete',id=post.id)}}">delete</a>
        {%endif%}
    </p>
{% endblock content %}